<%= form_for(user_definition, remote: true) do |f| %>
  <td><%= f.check_box :favorite, default: user_definition.favorite, id: "favorite_#{user_definition.id}" %></td>
  <td><%= f.check_box :memory, default: user_definition.favorite, id: "memory_#{user_definition.id}" %></td>
  <script>
    $('#favorite_<%= user_definition.id %>').change(function(e){
      $('#edit_user_definition_<%= user_definition.id %>').submit();
    });
    $('#memory_<%= user_definition.id %>').change(function(e){
      $('#edit_user_definition_<%= user_definition.id %>').submit();
    });
  </script>
<% end %>

