<h2 class="page-header"><%= @user.username %>さんの定義</h2>

<div class="row">
  <div class="col-md-6">
    <h2 class="well well-lg text-center text-danger">
      <% if referenceable?(current_user) %>
        <%= link_to "ユーザー定義の新規作成", new_definition_path %>
      <% else %>
      <% end %>
    </h2>
  </div>
  <div class="col-md-6">
    <h2 class="well well-lg text-center text-danger">
      <%= link_to '定義テストを行う', tests_start_path %>
    </h2>
  </div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item <%== 'active' if params[:action] == 'show' %>">
    <%= link_to "すべての定義", user_path(@user), class: 'nav-link bg-primary' %>
  </li>
  <li class="nav-item <%== 'active' if params[:action] == 'constitution' %>">
    <%= link_to "憲法", constitution_user_path(@user), class: 'nav-link bg-primary' %>
  </li>
  <li class="nav-item <%== 'active' if params[:action] == 'civil_code' %>">
    <%= link_to "民法", civil_code_user_path(@user), class: 'nav-link bg-primary' %>
  </li>
  <li class="nav-item <%== 'active' if params[:action] == 'criminal_code' %>">
    <%= link_to "刑法", criminal_code_user_path(@user), class: 'nav-link bg-primary' %>
  </li>
  <li class="nav-item <%== 'active' if params[:action] == 'notebook' %>">
    <%= link_to "個人定義帳", notebook_user_path(@user), class: 'nav-link bg-primary' %>
  </li>
</ul>

<table class="table table-striped table-hover">
  <tr class="table-bordered">
    <th class="info">定義</th>
    <th class="info">内容</th>
    <th class="info">分野</th>
    <th class="info">定義の詳細を見る</th>
    <% if admin?(current_user) %>
      <th class="info">定義の編集</th>
    <% end %>
    <th class="info">個人定義帳に登録する</th>
    <th class="info">暗記済み</th>
  </tr>

  <% @definitions.each do |definition| %>
    <tr>
      <td><%= definition.term %></td>
      <% user_definition = definition.user_definitions.find_by(user_id: current_user.id) %>
      <td><%= user_definition ? user_definition.custom_body : definition.body %></td>
      <td><%= definition.category.name %></td>
      <td><%= link_to '詳細', definition %></td>
      <% if admin?(current_user) %>
        <td><%= link_to '編集', edit_user_definition_path(definition) %></td>
      <% end %>
        <%= render 'ownerships/ownership_form', definition: definition %>
    </tr>
  <% end %>
</table>

