<%= @user.username %>さんの定義

<table border="1">
  <tr>
    <th>category</th>
    <th>term</th>
    <th>body</th>
    <td><%#= definitions.memory %></td>
    <td><%#= definitions.favorite %></td>
    <td><%#= link_to user_definitions#edit%></td>
    <td><%#= link_to user_definitions#destroy %></td>
    <th>編集</th>
  </tr>

  <% @definitions.each do |definition| %>
    <tr>
      <td><%= definition.category.name %></td>
      <td><%= definition.term %></td>
      <td><%= definition.body %></td>
      <td><%#= definition.memory %></td>
      <td><%#= definition.favorite %></td>
      <td><%#= link_to user_definitions#edit%></td>
      <td><%#= link_to user_definitions#destroy %></td>
      <td><%= link_to 'edit', edit_definition_path(definition) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "定義の新規作成", new_definition_path %>