<h2 class="page-header text-center">ユーザー定義の編集</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>＜デフォルトの定義（変更前の定義）＞</h2>
    <h2  class="well">「<%= @definition.body %>」</h2>

    <%= form_for(@user_definition) do |f| %>

      <div class="form-group">
        <%= f.label :custom_body, '変更後のユーザー定義の内容' %>
        <%= f.text_field :custom_body, class: 'form-control' %>
      </div>
      
      <%= f.submit 'ユーザー定義を編集する！！', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>