<div class="text-center">
  <h1>ユーザー定義の編集</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= @definition.body %>

    <%= form_for(@user_definition) do |f| %>

      <div class="form-group">
        <%= f.label :custom_body, '変更後のユーザー定義の内容' %>
        <%= f.text_field :custom_body, class: 'form-control' %>
      </div>
      
      <%= f.submit 'ユーザー定義を編集する！！', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>