<h2 class="page-header text-center">登録された定義（デフォルト定義）の編集</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <h3>＜デフォルトの定義（現在の定義）＞</h3>
    <h3  class="well">「<%= @definition.body %>」</h3>

    <%= form_for(@user_definition, url: definition_user_definitions_path(@definition)) do |f| %>

      <div class="form-group">
        <%= f.label :custom_body, '新たな定義（ユーザー定義）の内容' %>
        <%= f.text_field :custom_body, class: 'form-control' %>
      </div>
      
      <%= f.submit 'デフォルト定義を編集する！！', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>