<h2 class="page-header">回答</h2>

<% answer = @user_definition.present? ? @user_definition.custom_body : @definition.body %>
<%= answer == @answer ? "正解" : "不正解" %>

<h3>正しい回答</h3>
<% if answer != @answer %>
  <h3 class="well"><%= answer %></h3>
  <h3><%= current_user.username %>さんの回答</h3>
<% end %>
<h3 class="well"><%= @answer %></h3>



<%= form_for(:test, url: tests_question_path, html: { method: :get }) do |f| %>
  <%= hidden_field_tag :datas, @datas %>
  <% if params[:type] %>
    <%= hidden_field_tag :type, params[:type] %>
  <% end %>
  <%= f.submit "次の問題へ", class: 'btn btn-primary btn-lg' %>
<% end %>