<h3>question</h3>

<p>term : <%= @definition.term %></p>
<p>(<%= @user_definition.present? ? @user_definition.custom_body : @definition.body %>)</p>

<%= form_for(:test, url: tests_answer_path) do |f| %>
  <%= hidden_field_tag :datas, @datas %>
  
  <%= f.text_field :answer %>

  <%= f.submit %>
<% end %>

