<h2 class="page-header">定義テストの結果</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>定義</th>
    <th>正しい内容</th>
    <th>回答内容</th>
    <th>正誤</th>
    <th>個人定義帳へ登録</th>
    <th>暗記済み</th>
  </tr>

  <% @datas.each_with_index do |data, index| %>
    <% definition = Definition.find(data) %>
    <% user_definition = UserDefinition.find_by(definition_id: definition.id) %>
    <% answer = user_definition.present? ? user_definition.custom_body : definition.body %>
    <tr>
      <td><%= definition.term %></td>
      <td><%= answer %></td>
      <td><%= @answers[index] %></td>
      <td><%= answer == @answers[index] ? "○" : "×" %></td>
      <%= render 'ownerships/ownership_form', definition: definition %>
    </tr>
  <% end %>

</table>

<%= link_to "もう一度", tests_start_path %>